*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body{
    font-family:  "Montserrat";
}
a {
    text-decoration: none;
    color: #000;
    transition: color 0.2s;
}
ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px;
}
button{
    border:none;
    outline:none;
}
p{
    margin: 0px;
}
.a-right {
    text-align: right !important;
 }
 .row {
    margin-right: 15px;
    margin-left: 15px;
 }
 
 .row::after {
    content: "";
    display: block;
    clear: both;
 }
 
 .col {
    float: left;
    padding-right: 12px;
    padding-left: 12px;
 }
 
 .col-full {
    width: 100%;
 }
 
 .col-thrid {
    width: 33.33333%;
 }
 
 .col-half {
    width: 50%;
 }
 
 .mg-right {
    margin-right: 15px;
 }
 
 .mg-left {
    margin-left: 8px;
 }
 
 .f-right {
    float: right !important;
 }
 
 :root {
    --main: #437349;
 }
 
 .layout {
    max-width: 119rem;
    margin-left: auto;
    margin-right: auto;
 }
 
 a { 
     text-decoration: none;
 }
 