/* check git */
.brand {
    padding: 30px 0px;
}
.brand>div{
    display: flex;
    width:80%;
    margin: 0px auto;
    justify-content: center;
    height: 80px;
}
.brand__title{
    margin-right: 30px;
    text-align: center;
    padding-top:20px;
}
.brand__title h1{
    font-weight: 700;
}
.brand__title h4{
    font-weight: 400;
}
.brand__slide{
    display: flex;
    width: 800px;
}
.brand__slide-item{
    margin: 0px 16px;
}
.brand__slide-item a img{
    height: 85px;
    width: 145px;
    object-fit: contain;
}
/* feedback */

.feedback{
    padding: 0px 15px;
    width:1170px;
    margin: auto;
    height:auto;
}

.feedback__title{
    text-align: center;
}
.feedback__title h1{
    padding-bottom: 20px;
    margin-bottom:10px;
    font-weight:700;
    position: relative;
}
.feedback__title h1 a:hover{
    color: #437349;
}
.feedback__title h1 a{
    position: relative;
}
.feedback__title h1 a:before{
    content: "";
    width:160px;
    height:2px;
    background-color:#2ca3dc;
    position: absolute;
    top: 45px;
    left: 30%;
    cursor:default;
}
.feedback__title h5{
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 1.4rem;
}
.feedback__content{
    display: flex;
    justify-content:space-between;
}
.feedback__content__item{
    width:370px;
    padding-left: 60px;
    position: relative;
}
.feedback__content__item>div{
    padding: 10px;
    background-color:#e2e2e2;
    margin: 0px;
    font-size:1.4rem;
    text-align: center;
    width:310px;
    margin:0px 0px 0px auto;
    position: relative;
}
.feedback__content__item h4{
    color: #2ca3dc;
    font-weight: 700;
}
.feedback__content__item h5{
    font-size: 1.4rem;
    font-weight:400;
}
.feedback__content__item h4,.feedback__content__item h5{
    text-align: right;
}
.feedback__content__item-avatar{
    height:90px;
    width:90px;
    border-radius:50%;
    overflow:hidden;
    position:absolute;
    bottom: -90px;
    left: -60px;
    z-index: 123;
}
.feedback__content__item-avatar img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.slick-track{
    height:400px;
}
/* footer */
.footer{
    background-image: url("../image/bg_cosmetics.webp");
    background-size: cover;
    color: #fff;
}
.footer__container{
    width:1170px;
    margin:0px auto;
}
.footer__container__first{
    margin-top: 60px;
}
.footer__container__first img{
    height:160px;
    width:100%;
    object-fit:contain;
}
.footer__container__first h4{
    font-size: 1.9rem;
    font-weight: 400;
    margin-top:20px
}
.footer__container__first p{
    font-size:1.4rem;
    margin-top:10px;
    line-height:170%;
}
.footer__container__first p a{
    color: #fff;
}
.footer__container__first p a:hover{
    color:#437349;
}
.footer__container__second-title{
    padding-top: 60px;
    margin-bottom: 20px;
    font-weight: 700;
}
.footer__container__second-item{
    padding: 0px 15px;
}
.footer__container__second-item ul li{
    line-height: 32px;
}
.footer__container__second-item ul li a{
    font-size: 1.4rem;
    color: #fff;
}
.footer__container__second-item a:hover{
    color: #437349;
}
.footer__container__second-title-icon{
    height:36px;
    display:flex;
    margin:25px 0px 10px;
}
.footer__container__second-title-icon a{
    display:block;
    height:35px;
    max-width:35px ;
    min-width: 34px;
    border: 1px solid #fff;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
    transition: background-color 0.2s;
}
.footer__container__second-title-icon a :hover{
    background-color: #437349;
    border: none;
}
.footer__container__second-title-icon a i{
    font-size: 1.6rem;
    color: #fff;
    height:35px;
    width: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
}
.footer__container__second-title-icon a img{
    width:33px;
    height:33px;
    padding: 4px;
    object-fit: cover;
    display: flex;
}
.footer__contact{
    height:130px;
    width:230px;
    background-image:url("../image/200930790_2073084129496542_752612718235022900_n.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top:10px;
}
.footer__contact-container{
    height:90px;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.712),rgba(247, 247, 247, 0.021));
    display: flex;
}
.footer__contact-avatar img{
    height:50px;
    width:50px;
    min-width: 50px;
    border: 2px solid #fff;
}
.footer__contact-infor {
    margin-left: 5px;
}
.footer__contact-infor h4{
    white-space: nowrap; 
    width: 150px; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin:0px;
}
.footer__contact-infor h4 a{
    color: #fff;
    font-size:1.8rem;
}
.footer__contact-infor h4 a:hover{
    color: #fff;
    text-decoration:underline;
}
.footer__facebook{
    height:22px;
    width:100px;
    background-color: #f5f6f7;
    border-radius: 3px;
    position:absolute;
    bottom:10px;
    left: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    border: 1px solid rgba(0, 0, 0, .12);
}
.footer__facebook a{
    font-size: 1.2rem;
    font-weight: 600;
    color: #555;
}
.footer__facebook a i{
    color: #3a589e;
}
.footer__pay{
    padding-bottom:50px;
}
.footer__pay h4{
    margin: 20px 0px;
    font-weight: 700;
    line-height:150%;
}
.footer__pay img{
    height:88px;
    width:245px;
    object-fit:cover;
    object-position: -15px;
}
.footer__copyright{
    background-color: #111;
    text-align: center;
    display: flex;
    justify-content:center;
}
.footer__copyright h6{
    display: flex;
    text-align: center;
    padding: 15px 0px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.footer__copyright h6 i{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 5px;
}
.footer__copyright h6 p{
    margin:0px 3px;
    color: #437349;
}